header{
    background-color: darkslategrey;
    color: ghostwhite;       
}
body {
    background-color: black;
    color: red;
    font-size: 32px;
}
h1{
    background-color: black;
    color: red;
    font-size: 32px
}
main {
    background-color: black;
}

.headingstyle {
    text-decoration: overline;
    color: ghostwhite;
}
#asideHeader {
    background-color: dimgrey;
    color: darkred;
    text-transform: uppercase
}
footer {
    background-color: black;
    color: whitesmoke;
    font-size: 12px
}